<footer class="bg-dark text-light pt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6 col-lg-4">
        <h5 class="text-uppercase mb-4">Kontaktirajte nas</h5>
        <ul class="list-unstyled">
          <li class="mb-3 d-flex align-items-center">
            <ion-icon name="location-outline" class="me-2"></ion-icon>
            AutoPlac BB, Bulevar Meše Selimovića 12
          </li>
          <li class="mb-3 d-flex align-items-center">
            <ion-icon name="call-outline" class="me-2"></ion-icon>
            +387 66 123 456
          </li>
          <li class="mb-3 d-flex align-items-center">
            <ion-icon name="mail-outline" class="me-2"></ion-icon>
            autoplac&#64;gmail.com
          </li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-4">
        <h5 class="text-uppercase mb-4">Brzi linkovi</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none">Početna</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none">O nama</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none">Kontakt</a>
          </li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-4">
        <h5 class="text-uppercase mb-4">Popularni modeli</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Volkswagen Golf</li>
          <li class="mb-2">BMW 3 Serija</li>
          <li class="mb-2">Mercedes C klasa</li>
          <li class="mb-2">Audi A4</li>
          <li class="mb-2">Opel Astra</li>
        </ul>
      </div>
    </div>

    <div class="border-top mt-5 pt-4">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          <div class="social-icons">
            <a href="#" class="text-light me-3">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="#" class="text-light me-3">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="#" class="text-light">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <p class="mb-0">&copy; 2025 Autoplac. Sva prava zadržana.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
