<div class="card h-100 shadow-sm">
  <img
    src="http://localhost:4000/{{ vehicle.thumbnail }}"
    class="card-img-top"
    alt=" nema slike"
  />
  <div class="card-body">
    <h5 class="card-title">{{ vehicle.brand }} {{ vehicle.model }}</h5>
    <p class="card-text">
      <strong>Godište:</strong> {{ vehicle.year }}<br />
      <strong>Kilometraža:</strong> {{ vehicle.mileage }} km<br />
      <strong>Gorivo:</strong> {{ vehicle.fuel }}<br />
      <strong>Mjenjač:</strong> {{ vehicle.transmission }}<br />
      <span class="price"> {{ vehicle.price }} €</span>
    </p>
  </div>

  <div class="details">
    <p routerLink="/vehicle-detailed/{{ vehicle.id }}">View</p>
  </div>
</div>
