<header class="sticky-top">
  <nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="logo.jpg" alt="Autoplac logo" class="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <ion-icon
                name="home-outline"
                class="align-middle me-1"
              ></ion-icon>
              Početna
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <ion-icon
                name="information-circle-outline"
                class="align-middle me-1"
              ></ion-icon>
              O nama
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <ion-icon
                name="call-outline"
                class="align-middle me-1"
              ></ion-icon>
              Kontakt
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <ion-icon
                name="log-in-outline"
                class="align-middle me-1"
              ></ion-icon>
              Prijava
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">
              <ion-icon
                name="person-add-outline"
                class="align-middle me-1"
              ></ion-icon>
              Registracija
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
